---
import FormattedDate from "../components/FormattedDate.astro";
import PageHeader from "../components/PageHeader.astro";
import PostCardTags from "../components/PostCardTags.astro";
import type { Post } from "../model";
import { getPostLanguage } from "../utils/post.utils";
import Layout from "./Layout.astro";

type Props = { post: Post };

const { post } = Astro.props;

const { title, description, date, tags } = post.data;
---

<Layout title={title} description={description ?? ""} lang={getPostLanguage(post.slug)}>
  <article class="blog-post">
    <PageHeader>
      <h1>{title}</h1>
      {tags && <PostCardTags tags={tags} />}
      <FormattedDate date={date} />
    </PageHeader>

    <div class="blog-post__content">
      <slot />
    </div>
  </article>
</Layout>

<style is:global>
  .blog-post__content > * {
    grid-column: 2;
  }

  .blog-post__content > pre {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    grid-column: 1 / -1;
  }

  .blog-post__content > pre > code {
    display: block;
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<style>
  .blog-post__content {
    display: grid;
    grid-template-columns: auto minmax(0, 80ch) auto;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }
</style>
